.col-md-6 {
    flex: 0 0 auto;
    width: 60%;
}

.espacio {
    margin: auto;
    margin-top: 20px;
    background: #444 !important;
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: " ";
    display: table;
}

.box.box-success {
    border-top-color: #00a65a;
}

.box.box-solid.box-success {
    border: 1px solid #00a65a;
}

.box.box-solid.box-success > .box-header {
    color: #ffffff;
    background: #00a65a;
    background-color: #00a65a;
}

.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
    color: #ffffff;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}
.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.collapsed-box .box-header.with-border {
    border-bottom: none;
}

.box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}
.box-header > .box-tools .dropdown-menu > li > a {
    color: #444 !important;
}

.box.box-solid > .box-header > .box-tools .btn {
    border: 0;
    box-shadow: none;
}

.box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.label-success {
    color: #fff !important;
    background-color: #00a65a !important;
    border-radius: 2px;
    padding: 4px;
    font-size: 12px;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.btn-box-tool:hover {
    color: #606c84;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.no-padding {
    padding: 0 !important;
}

.box-body.no-padding .full-width-chart {
    margin: -9px;
}

.users-list > li {
    width: 25%;
    float: left;
    padding: 10px;
    text-align: center;
}

.users-list > li img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}


.users-list > li > a:hover,
.users-list > li > a:hover .users-list-name {
    color: #999;
}

.users-list-name,
.users-list-date {
    display: block;
}

.users-list-name {
    font-weight: 600;
    color: #444;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.users-list-date {
    color: #999;
    font-size: 12px;
}

.users-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.user-img {
    width: 128px; height: 128px;
    margin: auto;
    border: solid 3px #00a65a;
}