<!-- Footer -->
<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2">
          <ul class="list-unstyled list-inline social text-center">
            <li class="list-inline-item"><a href="https://es-la.facebook.com/ConalepCortazarOficial2017/" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://wa.me/524111128369" target="_blank"><i class="fa fa-comment-o"></i></a></li>
            <li class="list-inline-item"><a href="mailto:mario.torrese@conalepgto.edu.mx" target="_blank"><i class="fa fa-envelope-o"></i></a></li>
          </ul>
        </div>
        <hr>
      </div>
    </div>
  </footer>
  <!-- ./Footer -->